.habilidades{
    grid-column: 1 / 2;
    height: 100vh;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.habilidades__titulo{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline #344966;
    font-weight: 700;
}

.habilidades__icone {
    width: 2rem;
}

.habilidades__lista{
    height: calc(70vh - 5rem);
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
}

.habilidades__item{
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
}

.habilidades__item:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.habilidades__item:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.habilidades__item:nth-child(3){
    grid-column: 3 / 3;
    grid-row: 1 / 2;
}
.habilidades__item:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}
.habilidades__item:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}
.habilidades__item:nth-child(6){
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.habilidades__button{
    padding: 10px 10px;
    background-color: #bfcc94;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: flex;
}

.habilidades__button:hover{
    background-color: rgba(191, 204, 148, 0.8)
}

.habilidades__icone{
    width: 30px;
    height: 30px;
}